.swal2-popup {
    border-radius: 6px !important;
    padding: 32px 0 !important;
}

.swal-confirm-button,
.swal-cancel-button {
    border: none !important;
    font-size: 1.6rem !important;
    padding: 8px !important;
    border-radius: 6px !important;
    width: 100px !important;
}

.swal-confirm-button {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.swal-cancel-button {
    background-color: #dcdcdc !important;
    color: black !important;
}

.custom-swal-title {
    font-size: 2.4rem;
    font-weight: 500;
}

.swal2-icon {
    width: 40px !important;
    height: 40px !important;
    margin: 0 auto 0 auto !important;
    border: 3px solid var(--danger-color) !important;
}

.swal2-icon-content {
    font-size: 32px !important;
    font-weight: 400;
    color: var(--danger-color);
}

.swal2-actions {
    gap: 12px !important;
}